
body{
    text-align:center;
    font-family:Arial;
}

.code-container{
    display:flex;
    justify-content:center;
    gap:10px;
    margin-top:20px;
}

.code{
    width:40px;
    height:50px;
    font-size:22px;
    text-align:center;
}